*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}
body {

 font-family: montserrat ;

}

nav {
   
    background: rgb(28, 104, 211);
    height: 150px;
   width:100%;

}
label.logo{
    color:whitesmoke;
    font-size: 70px;
    line-height: 80px;
    padding: 0 100px;  
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
   color: white;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
} 
a.active,a:hover{
    background: #05b0f4;
     transition:0.5s;
}



label.logo{
    color:whitesmoke;
    font-size: 70px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav {
   
    background: linear-gradient(-45deg,rgb(30, 165, 68) 30%, blue);
    height: 150px;
    width: 100%;

}
h1{
    color: aliceblue;
    border-radius: 3px;
    height: 44px;
    width:100%;
    background: linear-gradient(-45deg,rgb(245, 250, 246) 30%, blue);
}
.content{
    padding-left: 40px;
    padding-right: 30px;
}
p {
    padding-left: 45px;
    
}
.style{
    padding-left: 45px;

}
a {
    padding-left: 35px;
    color: purple;
}
